body {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    color: white;
    height: 70px;
}

nav ul li {
    list-style: none;
    margin-left: 12px;
    cursor: pointer;
    font-weight: 500;
    transition: color 300ms ease-in-out;
}

nav ul li:hover {
    color: #1ED760;
}

nav ul {
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul li.logo img {
    width: 34px;
}

main {
    height: calc(100vh - 140px);
    width: 100%;
    /* margin-top: 15px; */
    margin-inline: auto;
    background-image: url('./images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    border-radius: 8px;
    /* overflow: hidden; */
}

.musicPlayer {
    position: fixed;
    background-color: black;
    color: white;
    width: 100%;
    height: 70px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.musicController {
    width: 70%;
    accent-color: #1ED760;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 8px;
    gap: 8px;
}

.icon {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    border-radius: 6px;
    /* overflow: hidden; */
    padding: 15px;
    background-color: white;
    cursor: pointer;
}

.icon:hover {
    background-color: #1ED760;
}

.icon#playButton {
    background-image: url('./images/svg-icons/play-solid-full.svg');
}

.icon#reverseButton {
    background-image: url('./images/svg-icons/backward-solid-full.svg');
}

.icon#nextButton {
    background-image: url('./images/svg-icons/forward-solid-full.svg');
}